<%- include('partsadmin/top')%>
    <!-- Sidebar -->
    <%- include('partsadmin/sidebar')%>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <%- include('partsadmin/navbar')%>
        <!-- Topbar -->

        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">All Profils</h1>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">All Profils</li>
              </ol>
            </div>
  
            <!-- Row -->
            <div class="row">
              <!-- Datatables -->
              <div class="col-lg-12">
                <div class="card mb-4">
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">All Profils</h6>
                  </div>
                  <div class="table-responsive p-3">
                    <table class="table align-items-center table-flush" id="dataTable">
                      <thead class="thead-light">
                        <tr>
                          <th>name user</th>
                          <th>email</th>
                          <th>phone number</th>
                          <th>status</th>
                          <th>address</th>
                          <th>sexe</th>
                          <th ><h6 style="transform: translateX(80px);font-weight: bold;">Action</h6></th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>name user</th>
                          <th>email</th>
                          <th>phone number</th>
                          <th>status</th>
                          <th>address</th>
                          <th>sexe</th>
                          <th ><h6 style="transform: translateX(80px);font-weight: bold;">Action</h6></th>
                        </tr>
                      </tfoot>
                      <tbody>
                        <% for(let profile of profiles){%>
                        <tr>
                          <th><%= profile.nom%>  </th>
                          <th><%= profile.email%></th>
                          <th><%= profile.numero%></th>
                          <th><%= profile.status%></th>
                          <th><%= profile.address%></th>
                          <th><%= profile.Sexe%></th>
                          <th>
                            <div style="display: flex;">
                            <a
                              class="btn btn-danger"
                              style="
                                font-size: 20px;
                                width: 90px;
                                height: 40px;
                              "
                              href="/deleteProfileUser/<%= profile._id%>"
                            >
                              delete
                            </a>
                            <a
                              class="btn btn-success"
                              style="
                                font-size: 20px;
                                width: 90px;
                                height: 40px;
                                color: white;
                                transform: translateX(30px);
                              "
                              href="/UpdateProfilUser/<%= profile._id%>"
                            >
                             View
                            </a>
                          </div>
                          </th>
                        
                        </tr>
                        <%}%>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- DataTable with Hover -->
              <div class="col-lg-12">
                <div class="card mb-4">
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">All Profils with Hover</h6>
                  </div>
                  <div class="table-responsive p-3">
                    <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                      <thead class="thead-light">
                        <tr>
                          <th>name user</th>
                          <th>email</th>
                          <th>phone number</th>
                          <th>status</th>
                          <th>address</th>
                          <th>sexe</th>
                          <th ><h6 style="transform: translateX(80px);font-weight: bold;">Action</h6></th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>name user</th>
                          <th>email</th>
                          <th>phone number</th>
                          <th>status</th>
                          <th>address</th>
                          <th>sexe</th>
                          <th ><h6 style="transform: translateX(80px);font-weight: bold;">Action</h6></th>
                        </tr>
                      </tfoot>
                      <tbody>
                        <% for(let profile of profiles){%>
                          <tr>
                            <th><%= profile.nom%></th>
                            <th><%= profile.email%></th>
                            <th><%= profile.numero%></th>
                            <th><%= profile.status%></th>
                            <th><%= profile.address%></th>
                            <th><%= profile.Sexe%></th>
                            <th>
                              <div style="display: flex;">
                              <a
                                class="btn btn-danger"
                                style="
                                  font-size: 20px;
                                  width: 90px;
                                  height: 40px;
                                  transform: translateX(px);
                                "
                                href="/deleteProfileUser/<%= profile._id%>"
                              >
                                delete
                              </a>
                              <a
                                class="btn btn-success"
                                style="
                                  font-size: 20px;
                                  width: 90px;
                                  height: 40px;
                                  color: white;
                                  transform: translateX(30px);
                                "
                                href="/UpdateProfilUser/<%= profile._id%>"
                              >
                                View
                              </a>
                            </div>
                            </th>
                          </tr>
                          <%}%>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!--Row-->
  
            <!-- Documentation Link -->
            <div class="row">
              <div class="col-lg-12">

              </div>
            </div>
  
            <!-- Modal Logout -->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure you want to logout?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                    <form
                     method="POST"
                     action="/logout"
                    >
                     <button class="btn btn-outline-danger" type="submit">
                      Logout
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        <!---Container Fluid-->
      </div>
      <!-- Footer -->
      <%- include('partsadmin/footer')%>
      <!-- Footer -->
    </div>
  </div>

  <%- include('partsadmin/bottom')%>